.vs/*
Win32/*
Debug/*
build/

External/Win32/lib/*/LibPSM.idb
External/Win32/lib/*/LibPSM.lib
External/Win32/lib/*/LibPSM.pdb

External/Win32/lib/*/LibCXML.idb
External/Win32/lib/*/LibCXML.lib
External/Win32/lib/*/LibCXML.pdb

External/Win32/lib/*/LibGLAD.idb
External/Win32/lib/*/LibGLAD.lib
External/Win32/lib/*/LibGLAD.pdb

External/Win32/lib/*/LibSnowPME.idb
External/Win32/lib/*/LibSnowPME.lib
External/Win32/lib/*/LibSnowPME.pdb

External/Win32/lib/*/LibShared.idb
External/Win32/lib/*/LibShared.lib
External/Win32/lib/*/LibShared.pdb

External/Win32/lib/*/LibMonoBridge.idb
External/Win32/lib/*/LibMonoBridge.lib
External/Win32/lib/*/LibMonoBridge.pdb

External/Win32/lib/*/LibImGui.idb
External/Win32/lib/*/LibImGui.lib
External/Win32/lib/*/LibImGui.pdb

*.aps
*.obj
*.user
*.o
Makefile-autogen.mk
.vscode/settings.json
