[submodule "subprojects/LibPssMono/pss-mono"]
	path = subprojects/LibPssMono/pss-mono
	url = https://github.com/OpenPSS/pss-mono.git
	branch = mono-2-11
[submodule "subprojects/LibCXML"]
	path = subprojects/LibCXML
	url = https://github.com/OpenPSS/LibCXML.git
	branch = main
[submodule "subprojects/LibMonoBridge"]
	path = subprojects/LibMonoBridge
	url = https://github.com/OpenPSS/LibMonoBridge.git
	branch = main
[submodule "subprojects/LibSDL3-Static/SDL"]
	path = subprojects/LibSDL3-Static/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "subprojects/LibSDL3-Static/SDL_ttf"]
	path = subprojects/LibSDL3-Static/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
