[submodule "subprojects/LibPSSMono/pss-mono"]
	path = subprojects/LibPSSMono/pss-mono
	url = https://github.com/OpenPSS/pss-mono.git
[submodule "subprojects/External/Src/SDL"]
	path = subprojects/External/Src/SDL
	url = https://github.com/OpenPSS/SDL.git
	branch = SDL2
[submodule "subprojects/LibCXML"]
	path = subprojects/LibCXML
	url = https://github.com/OpenPSS/LibCXML.git
[submodule "subprojects/LibMonoBridge"]
	path = subprojects/LibMonoBridge
	url = https://github.com/OpenPSS/LibMonoBridge.git
